table ,td{
    
    background-color: red;
    color: white;
    
    
    
}



table ,a{
    color: white;
    font-size: 20pt;
    text-decoration: none;
    
    

}
table{
    position: fixed;
    width: 1290px;
    box-sizing: border-box;
    text-align: center;
    top: 0;
    margin-left: 100px;
}
#text,p{
    border: 1px black;
    border-style: dashed;
    width: 645px;
    box-sizing: border-box;
    text-align: justify;
    
}
#text{
    margin-left: 100px;
}
.news-image{
    position: fixed;
    bottom: 0;
    width: 1290px;
    box-sizing: border-box;
    margin-left: 100px;
    height: 100px;
}
.break-news{
    position: fixed;
    top: 100px;
    right: 200px;

    
}
.arrow-up{
    position: fixed;
    bottom: 100px;
    right: 500px;
    box-sizing: border-box;
    

}

